:root {
  --header-footer-height: 60px;
  --nav-paginator-height: 45px;
  --main-padding: 20px;
  --articles-gap: 10px;
  --article-height: 90px;

  --body-background-color: #ede0d4;
  --header-background-color: #f2a65a;
  --footer-background-color: #f2a65a;
  --article-background-color: #eec170;
  --read-btn-background-color: #c32f27;
  --preview-color: #4f5d75;
  --border-color: black;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
}

body {
  margin: 0;
  background-color: var(--body-background-color);
}

header {
  width: 100%;
  height: var(--header-footer-height);
  background-color: var(--header-background-color);
  position: fixed;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  height: var(--nav-paginator-height);
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.icon {
  height: 100%;
  /* 設置元素的寬高比 */
  aspect-ratio: 1/1;
}

.search-container {
  width: 100%;
  height: 100%;
}

.search-bar {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
}

#search-input {
  width: 100%;
  height: 80%;
  font-size: 20px;
}

#search-btn {
  margin-left: 10px;
}

#search-btn:hover {
  cursor: pointer;
}

.non-fixed-header {
  height: var(--header-footer-height);
}

main {
  height: 100%;
  padding: var(--main-padding);
  position: relative;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
}

.article-content {
  padding: 10px;
  background-color: var(--article-background-color);
  border-radius: 16px;
}

.article-context article input {
  width: 100%;
  height: 200px;
}

.article-title {
  margin-top: 0;
}

.article {
  height: var(--article-height);
  padding: 3px 0;
  margin-bottom: var(--articles-gap);
  border-radius: 16px;
  background-color: var(--article-background-color);
  display: flex;
}

.article-left {
  width: 80%;
  height: 100%;
}

.author {
  height: 30%;
  display: flex;
}

.author-img {
  height: 100%;
  aspect-ratio: 1/1;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author-img img {
  width: 80%;
}

.author-username {
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  height: 30%;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.preview {
  height: 40%;
  margin-left: 12px;
  font-size: 14px;
  color: var(--preview-color);
  overflow: hidden;
}

.article-right {
  min-width: 170px;
  width: 20%;
  height: 100%;
}

.read-favorite {
  height: 70%;
  display: flex;
  align-items: center;
}

.read {
  width: 80%;
  margin: 0 20px;
  background-color: var(--read-btn-background-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
}

.read:hover {
  cursor: pointer;
}

.add-to-favorite {
  width: 20%;
  text-align: center;
}

.status {
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
